.container {
    cursor: default;
    user-select: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.chats {
    white-space: pre-wrap;
}

input:checked + table, input:checked + table td {
    animation: rotateshit 3s infinite linear;
}

table, td, th {
    border: 1px solid;
    min-width: 150px;
    text-align: center;
}

tr:nth-child(7) {
    background: #5de0d8;
}

table {
    border-collapse: collapse;
}

footer, header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 70vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    background: rgba(91, 94, 103, 0.83);
}

header {
    position: relative;
    height: 5vh;
}

header a {
    text-decoration: none;
    color: black;
}

footer .media {
    display: flex;
    flex-flow: column;
}

footer .media img {
    width: 50px;
    position: absolute;
    bottom: 25px;
    border-radius: 100%;
}

footer .media a {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet !important;
}

.centered {
    text-align: center;
}

.chatUser {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

@keyframes rotateshit {
    0% {
        rotate: 0deg;
    }
    20% {
        rotate: 144deg;
    }
    40% {
        rotate: 288deg;
    }
    60% {
        rotate: 432deg;
    }
    80% {
        rotate: 576deg;
    }
    100% {
        rotate: 720deg;
    }
}